.QR{
	border: 2px dotted #eee;
	padding: 20px;
	img{
	    display: block !important;
	    margin: auto;
 	}
 	.caption{
 		h3{
 			text-align: center;
 		}
 	}
 	.qrimage{
 		padding: 20px;
 		border-bottom: 1px solid #ccc;
 	}
 	.desc{
 		ul{
 			list-style: none;
 		}
 	}
}